In [1]:
import numpy as np
import plotly.express as px
import pandas as pd

import dash
from dash import html, dcc
import plotly.express as px
import pandas as pd
from dash.dependencies import Input,Output,State

In [2]:
df = pd.read_csv(r"COVID-19 Dataset.csv")
t = pd.read_csv(r"time_series.csv",index_col="Country/Region")
t.head()

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,10/17/21,10/18/21,10/19/21,10/20/21,10/21/21,10/22/21,10/23/21,10/24/21,10/25/21,10/26/21
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,33.93911,67.709953,0,0,0,0,0,0,0,...,155764,155776,155801,155859,155891,155931,155940,155944,156040,156071
Albania,NaN,41.15330,20.168300,0,0,0,0,0,0,0,...,177971,178188,178804,179463,180029,180623,181252,181696,181960,182610
Algeria,NaN,28.03390,1.659600,0,0,0,0,0,0,0,...,205286,205364,205453,205529,205599,205683,205750,205822,205903,205990
Andorra,NaN,42.50630,1.521800,0,0,0,0,0,0,0,...,15338,15367,15369,15382,15382,15404,15404,15404,15425,15425
Angola,NaN,-11.20270,17.873900,0,0,0,0,0,0,0,...,62842,63012,63197,63340,63567,63691,63775,63861,63930,64033

In [3]:
t.drop(['Province/State', 'Lat', 'Long'],axis=1,inplace=True)

In [4]:
df.head()

,Continent,Country,Last_Updated_Date,Total_Cases,Total_Deaths,Total_Cases_Per_Million,Total_Deaths_Per_Million,Total_tests,Positive_rate,Total_Vaccinations,People_Vaccinated,People_Fully_Vaccinated,Population,Population_Density,Median_Age,Aged_65_Older,Aged_70_Older,GDP_Per_Capita
0,Asia,Afghanistan,11-10-2021,155540.0,7228.0,3904.565,181.447,NaN,NaN,2369625.0,828601.0,NaN,39835428,54.422,18.6,2.581,1.337,1803.987
1,Europe,Albania,11-10-2021,175163.0,2777.0,60970.074,966.608,NaN,NaN,1795351.0,962281.0,833070.0,2872934,104.871,38.0,13.188,8.643,11803.431
2,Africa,Algeria,11-10-2021,204695.0,5855.0,4587.864,131.229,NaN,NaN,NaN,NaN,NaN,44616626,17.348,29.1,6.211,3.857,13913.839
3,Europe,Andorra,11-10-2021,15307.0,130.0,197882.462,1680.585,215733.0,0.054,NaN,NaN,NaN,77354,163.755,NaN,NaN,NaN,NaN
4,Africa,Angola,11-10-2021,61580.0,1629.0,1814.720,48.006,NaN,NaN,4074677.0,2863708.0,1210969.0,33933611,23.890,16.8,2.405,1.362,5819.495

In [5]:
df.isnull().sum()

Continent                     2
Country                       0
Last_Updated_Date             0
Total_Cases                  21
Total_Deaths                 28
Total_Cases_Per_Million      21
Total_Deaths_Per_Million     28
Total_tests                 112
Positive_rate               111
Total_Vaccinations           17
People_Vaccinated            22
People_Fully_Vaccinated      20
Population                    0
Population_Density           12
Median_Age                   27
Aged_65_Older                29
Aged_70_Older                28
GDP_Per_Capita               25
dtype: int64

In [6]:
for x in df.columns:
    if df[x].dtype != "object":
        df[x] = df[x].fillna(df[x].mean())

In [7]:
df.dtypes

Continent                    object
Country                      object
Last_Updated_Date            object
Total_Cases                 float64
Total_Deaths                float64
Total_Cases_Per_Million     float64
Total_Deaths_Per_Million    float64
Total_tests                 float64
Positive_rate               float64
Total_Vaccinations          float64
People_Vaccinated           float64
People_Fully_Vaccinated     float64
Population                    int64
Population_Density          float64
Median_Age                  float64
Aged_65_Older               float64
Aged_70_Older               float64
GDP_Per_Capita              float64
dtype: object

In [8]:
df = df.dropna(axis = 0)

In [9]:
df['Last_Updated_Date'] = pd.to_datetime(df['Last_Updated_Date'])
df['day'] = df['Last_Updated_Date'].dt.day
df['month'] = df['Last_Updated_Date'].dt.month
df['year'] = df['Last_Updated_Date'].dt.year
df.drop('Last_Updated_Date',axis = 1 , inplace = True)

In [10]:
df.dtypes

Continent                    object
Country                      object
Total_Cases                 float64
Total_Deaths                float64
Total_Cases_Per_Million     float64
Total_Deaths_Per_Million    float64
Total_tests                 float64
Positive_rate               float64
Total_Vaccinations          float64
People_Vaccinated           float64
People_Fully_Vaccinated     float64
Population                    int64
Population_Density          float64
Median_Age                  float64
Aged_65_Older               float64
Aged_70_Older               float64
GDP_Per_Capita              float64
day                           int64
month                         int64
year                          int64
dtype: object

In [11]:
df.head()

,Continent,Country,Total_Cases,Total_Deaths,Total_Cases_Per_Million,Total_Deaths_Per_Million,Total_tests,Positive_rate,Total_Vaccinations,People_Vaccinated,People_Fully_Vaccinated,Population,Population_Density,Median_Age,Aged_65_Older,Aged_70_Older,GDP_Per_Capita,day,month,year
0,Asia,Afghanistan,155540.0,7228.0,3904.565,181.447,2.913921e+07,0.075267,2.369625e+06,8.286010e+05,1.566425e+07,39835428,54.422,18.600000,2.58100,1.337000,1803.987000,10,11,2021
1,Europe,Albania,175163.0,2777.0,60970.074,966.608,2.913921e+07,0.075267,1.795351e+06,9.622810e+05,8.330700e+05,2872934,104.871,38.000000,13.18800,8.643000,11803.431000,10,11,2021
2,Africa,Algeria,204695.0,5855.0,4587.864,131.229,2.913921e+07,0.075267,3.608701e+07,2.099407e+07,1.566425e+07,44616626,17.348,29.100000,6.21100,3.857000,13913.839000,10,11,2021
3,Europe,Andorra,15307.0,130.0,197882.462,1680.585,2.157330e+05,0.054000,3.608701e+07,2.099407e+07,1.566425e+07,77354,163.755,30.318519,8.63015,5.446511,19239.028079,10,11,2021
4,Africa,Angola,61580.0,1629.0,1814.720,48.006,2.913921e+07,0.075267,4.074677e+06,2.863708e+06,1.210969e+06,33933611,23.890,16.800000,2.40500,1.362000,5819.495000,10,11,2021

In [12]:
#df1 = df.groupby(['Continent']).mean().reset_index()
#df1.head()

In [13]:
# lunching App
my_css_link='https://codepen.io/chriddyp/pen/bWLwgP.css'
app =dash.Dash(external_stylesheets=[my_css_link])

In [14]:
fig1= px.scatter(df[df.year == min(df.year)],x='Total_Cases',y='Total_Deaths',color='Continent',size='Total_tests',size_max=60,hover_name='Country',
           title='Covid 19',template='plotly_dark',animation_frame='year')
fig2 = px.sunburst(df,color='Country',values='Total_Cases',path=['Continent','Country'],hover_name='Country')

fig3 = px.histogram(df,x='Continent',y='Total_Cases',color='Continent',
            hover_name='Continent',barmode='group')
#fig4 = px.imshow(df[df.columns[:-10]].corr())
fig4 = px.line(t, x=t.index, y = t.columns[1:])

In [15]:
app.layout = html.Div([
    html.H1("Covid 19 Data Visualization",style={'textAlign' : 'center','color':'Black' }),
    html.Div([
    html.Div([
            html.Div([
               
            html.H3("Scatter Visualization for Continents",style={'textAlign' : 'center','color':'Black' }),
        html.Div([
            html.Div([
                "Region",
                dcc.Dropdown(
                    id = 'my_dropdown_0',
                    options=[
                        {'label': str(Continent),
                         'value': str(Continent)}
                    for Continent in df.Continent.unique()
                    ],
                    value=df['Continent']),
            ],className='four columns'),
            
            html.Div([
                "X Label",
                dcc.Dropdown(
                    id = 'my_dropdown_1',
                    options=[
                        {'label': str(y),
                         'value': str(y)}
                    for y in df.columns[2:]
                    ],
                    value='Total_Cases'),
            ],className='four columns')],className='row'),
            html.Div([
                html.Div([
                "Y Label",
                dcc.Dropdown(
                    id = 'my_dropdown_2',
                    options=[
                    {'label': str(y),
                     'value': str(y)}
                    for y in df.columns[2:]
                    ],
                    value='Total_Deaths'),
            ],className='four columns'),
                html.Div([ 
                    html.Button('Submit', id='my_button_0', n_clicks=0),
                ],className='four columns')
            
                
            ],className='row'),
            dcc.Graph(id='my_graph1',figure= fig1),
            
           
            
        ],className='six columns'),
        
        
    ]),
    html.Div([
        
        html.H3("Bar Chart For Continents",style={'textAlign' : 'center','color':'Black' }),
        html.Div([
            html.Div([
                "Aggregated Column",
                dcc.Dropdown(
                    id = 'my_dropdown_3',
                    options=[
                        {'label': str(y),
                         'value': str(y)}
                    for y in df.columns[2:]
                    ],
                    value='Total_Cases'),
              ]),
            html.Button('Submit', id='my_button_1', n_clicks=0),
            dcc.Graph(id='my_graph2',figure= fig3),
            
            
        ],style={"margin-left": "0px","margin-right": "50px"},
            className = 'six columns')
    ])], className = 'row'),
    
    html.Div([
        html.Div([
            html.H3("Time Series ",style={'textAlign' : 'center','color':'Black' }),
            dcc.Graph(figure= fig4)
        ],className='six columns'),
        
        html.Div([
            html.H3("Percentages Of Covid Cases In Continents",style={'textAlign' : 'center','color':'Black' }),
            dcc.Graph(figure= fig2)
        ],style={"margin-left": "0px"},className='six columns'),
        
    ],style={"margin-left": "0px","margin-right": "25px"}, className = 'row')              
                      
])

In [16]:
@app.callback(
    Output('my_graph1','figure'),
    State('my_dropdown_0','value'),
    State('my_dropdown_1','value'),
    State('my_dropdown_2','value'),
    Input('my_button_0','n_clicks')
    )

def callback(input_1,input_2,input_3,input_4):
    
    if input_1 == None:
        f1 = px.scatter(df,x=input_2,y=input_3,color='Continent',size=input_3,size_max=60,
                        hover_name='Country',animation_frame='year')
    else :
        f1 = px.scatter(df[(df.Continent == input_1)],x=input_2,y=input_3,size=input_3,color='Continent',
                        size_max=60,hover_name='Country',animation_frame='year')
        
    return f1

@app.callback(
    Output('my_graph2','figure'),
    State('my_dropdown_3','value'),
    Input('my_button_1','n_clicks')
    )
def callback1(input_1,input_2):
    f2 =  px.histogram(df,x='Continent',y=input_1,color='Continent',hover_name='Continent',barmode='group')
    return f2

In [ ]:
app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [28/Oct/2021 14:13:47] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2021 14:13:51] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2021 14:13:51] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2021 14:13:51] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Oct/2021 14:13:51] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Oct/2021 14:13:51] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Oct/2021 14:13:51] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Oct/2021 14:13:51] "POST /_dash-update-component HTTP/1.1" 200 -